<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.im.mapper.CircleOssMapper">

    <insert id="insertBat">
        insert into im_circle_oss(id, circle_id, sort, url, create_time, del_flag, update_time)
        values
        <foreach collection="list" item="oss" separator=",">
            (#{oss.id},#{oss.circleId},#{oss.sort},#{oss.url},#{oss.createTime},#{oss.delFlag},#{oss.updateTime})
        </foreach>
    </insert>
</mapper>
