<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.im.mapper.UserMapper">

    <select id="selectUserPageByLike" resultType="com.im.entity.ImUser">
        select *
        from im_user
    </select>
    <select id="verifySameByRegisterSubject" resultType="com.im.entity.ImUser">
        select  *
        from im_user tb
        where phone = #{subject}
        or email = #{subject}
    </select>
</mapper>
